.input-wrapper {
  position: relative;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 12px;
  width: 100%;
  position: relative;
}

.input-container-search {
  background-color: white !important;
}

.input-container.has-icon {
  padding-right: 40px;
}

.input {
  width: 100%;
  padding: 17.5px 20px;
  background-color: #F9F9F9;
  border-radius: 12px;
  border: none;
  font-family: 'Wix Madefor Display', sans-serif;
}

.input-search {
  background-color: white!important;
  padding: 12px 16px!important;
}

.input:focus {
  outline: none;
}

.icon-wrapper {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input::placeholder {
  color: #C4C4C4;
  font-size: 14px;
}

.error-text {
  display: block;
  margin-top: 4px;
  color: #FF0004;
  font-size: 12px;
  height: 16px;
}

.input-error {
  border: 1px solid #FF0004;
}

.input-disabled {
  background-color: #F3F3F3 !important;
  color: #8B8B8B;
  cursor: not-allowed;
}

.input-disabled::placeholder {
  color: #C4C4C4;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #F3F3F3 inset !important;
  -webkit-text-fill-color: #131313 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input:-moz-ui-autofill {
  box-shadow: 0 0 0 1000px #F3F3F3 inset !important;
  text-fill-color: #131313 !important;
}
