.input-wrapper {
  position: relative;
  width: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-tertiary);
  border-radius: 12px;
  width: 100%;
  position: relative;
}

.input-container-search {
  background-color: var(--color-white) !important;
}

.input-container.has-icon {
  padding-right: 40px;
}

.input {
  width: 100%;
  padding: 17.5px 20px;
  background-color: var(--color-bg-tertiary);
  border-radius: 12px;
  border: none;
  font-family: var(--font-family-primary);
}

.input-search {
  background-color: var(--color-white)!important;
  padding: 12px 16px!important;
}

.input:focus {
  outline: none;
}

.icon-wrapper {
  position: absolute;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

input::placeholder {
  color: var(--color-text-light);
  font-size: var(--font-size-sm);
}

.error-text {
  display: block;
  margin-top: 4px;
  color: var(--color-error);
  font-size: var(--font-size-xs);
  height: 16px;
}

.input-error {
  border: 1px solid var(--color-error);
}

.input-disabled {
  background-color: var(--color-bg-secondary) !important;
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.input-disabled::placeholder {
  color: var(--color-text-light);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-bg-secondary) inset !important;
  -webkit-text-fill-color: var(--color-text-primary) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input:-moz-ui-autofill {
  box-shadow: 0 0 0 1000px var(--color-bg-secondary) inset !important;
  text-fill-color: var(--color-text-primary) !important;
}
